/*imported fonts*/
/*font-family: 'Fredericka the Great', cursive;
font-family: 'Josefin Slab', serif;
*/
body {
  margin: 0;
  background-color: rgb(238,238,238);
}

.header {
  background-color: rgba(57,62,70,1);
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  padding: 5px;
}

.header-logo {
  width: 50%;
}

.header-nav {
  width: 50%;
  color: rgb(238,238,238);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-logo img {
  height: 100%;
}

.header-nav img {
  filter: invert(.9);
  padding-top: 5px;
  height: 24px;
  width: 24px;
}

.header-nav img:hover {
  filter: invert(.2);
}

.header-nav a {
  text-decoration: none;
  color: rgb(238,238,238);
}

.svgs {
  border-top: 2px solid rgb(238,238,238);
  border-bottom: 2px solid rgb(238,238,238);
  margin-left: 3px;
  height: 6vh;
  width: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.svgs:hover {
  background-color: rgb(238,238,238);

}

.navlink {
  height: 6vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Fredericka the Great', cursive;
  border-top: 2px solid rgb(238,238,238);
  border-bottom: 2px solid rgb(238,238,238);
  margin-left: 3px;
}

.navlink:hover {
  background-color: rgb(238,238,238);
  color: rgba(57,62,70,1);
  cursor: pointer;
}

.test {
  background-color: blue;
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

.transition {
  -webkit-transition: all 5s ease;  
  -moz-transition: all 5s ease;  
  -o-transition: all 5s ease;  
  -ms-transition: all 5s ease;  
  transition: all 5s ease;
}

.transition-active {
  background-color: red;
  height: 400px;
  width: 400px;
  visibility: visible;
  opacity: 1;
  visibility: visible;
}


